<template>
	<div class="hello">
		<h1>{{ msg }}</h1>
		<h2>Essential Links</h2>
		<h3>{{ myText }}</h3>
		<button v-on:click="reverseMyText">Reverse message</button>
		<input v-model="myInput">
		<p>{{ myInput }}</p>
		<router-link to='/usercard'>another page</router-link>
	</div>
</template>

<script>
export default {
	name: 'hello',
	data () {
		return {
			msg: 'Welcome to Your Vue.js App',
			myText: 'asdasd',
			myInput: 'test'
		}
	},
	methods: {
		reverseMyText: function () {
			// console.log(this.myText)
			this.myText = this.myText.split('').reverse().join('')
		}
	},
	watch: {
		'myText': function () {
			console.log(this.myText)
		},
		'myInput': function () {
			console.log(this.myInput)
		}
	}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
	font-weight: normal;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

a {
	color: #42b983;
}
</style>
