<template>
	<div class="login-page">
		<h2>Please login before doing anything else.</h2>
		<mu-paper id="my-paper">
			<div>
				<mu-text-field type="text" label="login:" v-model="login" helpText=""></mu-text-field>
				<span ref="myref1"  @mouseenter="handleHover('login')" @mouseleave="handleHoverExit('login')" id="tooltip-span">
					<mu-icon value="info"></mu-icon>
					<!-- touch makes the tooltip bigger -->
					<mu-tooltip :label="tooltips.login" :show="showTooltips.login" :trigger="triggers.login" verticalPosition="bottom" horizontalPosition="right" :touch="true"></mu-tooltip>
				</span>
			</div>
			<div>
				<mu-text-field type="password" label="password:" v-model="password" helpText=""></mu-text-field>
				<span ref="myref2"  @mouseenter="handleHover('password')" @mouseleave="handleHoverExit('password')" id="tooltip-span">
					<mu-icon value="info"></mu-icon>
					<!-- touch makes the tooltip bigger -->
					<mu-tooltip :label="tooltips.password" :show="showTooltips.password" :trigger="triggers.password" verticalPosition="bottom" horizontalPosition="right" :touch="true"></mu-tooltip>
				</span>
			</div>
			<div>
				<mu-text-field type="text" label="app name" v-model="appName" helpText=""></mu-text-field>
				<span ref="myref3"  @mouseenter="handleHover('appName')" @mouseleave="handleHoverExit('appName')" id="tooltip-span">
					<mu-icon value="info"></mu-icon>
					<!-- touch makes the tooltip bigger -->
					<mu-tooltip :label="tooltips.appName" :show="showTooltips.appName" :trigger="triggers.appName" verticalPosition="bottom" horizontalPosition="right" :touch="true"></mu-tooltip>
				</span>
			</div>
			<div>
				<mu-text-field type="text" label="server address" v-model="serverAddress" helpText=""></mu-text-field>
				<span ref="myref4"  @mouseenter="handleHover('serverAddress')" @mouseleave="handleHoverExit('serverAddress')" id="tooltip-span">
					<mu-icon value="info"></mu-icon>
					<!-- touch makes the tooltip bigger -->
					<mu-tooltip :label="tooltips.serverAddress" :show="showTooltips.serverAddress" :trigger="triggers.serverAddress" verticalPosition="bottom" horizontalPosition="right" :touch="true"></mu-tooltip>
				</span>
			</div>
			<div id="button-container">
				<mu-raised-button label="Login" @click="send"></mu-raised-button>
			</div>
		</mu-paper>
	</div>
</template>

<script>
import {HTTP} from '@/http-conf'
import {contentType} from '@/http-conf'
import {mergePatch} from '@/http-conf'
import {setWhen} from '@/http-conf'
import {calculateLoginHash} from '@/http-conf'
import {saveConf} from '@/http-conf'
import {globalStore} from '@/globalStore'
export default {
	name: 'login-page',
	data () {
		return {
			login: '',
			password: '',
			appName: '',
			serverAddress: '',
			triggers: {
				'login': null,
				'password': null,
				'appName': null,
				'serverAddress': null,
			},
			showTooltips: {
				'login': false,
				'password': false,
				'appName': false,
				'serverAddress': false,
			},
			tooltips: {
				'login': 'you login goes here',
				'password': 'and your password goes here',
				'appName': 'name of the app',
				'serverAddress': 'address of the server',
			},
		}
	},
	mounted () {
		this.triggers.login = this.$refs.myref1
		this.triggers.password = this.$refs.myref2
		this.triggers.appName = this.$refs.myref3
		this.triggers.serverAddress = this.$refs.myref4
		console.log(this.triggers)
		// whats this for?
	},
	computed: {
		normalConfig: function () {
			const headers = {}
			return {
				headers
			}
		},
		resource: function () {
			return '/login/' + this.login
		},
	},
	methods: {
		handleHover: function (index) {
			this.showTooltips[index] = true
		},
		handleHoverExit: function (index) {
			this.showTooltips[index] = false
		},
		send: function () {
			saveConf(this.serverAddress, this.appName)
			let when = setWhen(this.normalConfig)
			this.normalConfig.headers['Authorization'] = calculateLoginHash(this.password, when)
			HTTP.get(this.resource, this.normalConfig)
			.then(
				response => {
					console.log('get response', response)
					//set values in the store
					globalStore.auth = response.data
					globalStore.appName = this.appName
					//save to local storage too
					localStorage.setItem('auth', JSON.stringify(response.data))
					localStorage.setItem('serverAddress', JSON.stringify(this.serverAddress))
					localStorage.setItem('appName', JSON.stringify(this.appName))
					this.$emit('loggedIn')
				},
				notOK => {
					if (notOK.response.status == 404) {
						this.handleSnack('not found')
					} else {
						this.handleErrorSnack(notOK.response.data)
						this.handleSnack('something went wrong')
					}
				}
			)
		},
	},
	props: {
	},
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
	font-weight: normal;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

a {
	color: #42b983;
}

#my-paper {
	text-align: center;
	margin-left: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-right: 1%;
}

#my-paper div {
	margin-left: 1%;
}

div#button-container {
	padding-top: 1%;
	padding-bottom: 1%;
}
</style>

<!-- NB this style is not scoped, otherwise the style doesn't work since the mu-text-field is a different component -->
<style>
.mu-text-field-help {
	font-style: italic;
}

span#tooltip-span {
	cursor: help;
	position: relative;
}
</style>