<template>
	<div class="user-card">
		<mu-card>
			<mu-card-header :title="user.username" sub-title="user">
				<mu-avatar icon="person" slot="avatar"></mu-avatar>
			</mu-card-header>
			<mu-divider></mu-divider>
			<mu-card-text>
				<mu-list>
				<template v-for="(sub, index) in subs">
					<sub-item :sub="sub" @used="handleUsed" ></sub-item>
				</template>
				</mu-list>
			</mu-card-text>
			<mu-card-actions>
					<mu-float-button primary icon="shopping_cart" @click="emitOpenDialog" ></mu-float-button>
					<mu-float-button secondary icon="delete" @click="emitRetired" ></mu-float-button>
			</mu-card-actions>
		</mu-card>
	</div>
</template>

<script>
import {HTTP} from '@/http-conf'
import {setWhen} from '@/http-conf'
import {calculateHash} from '@/http-conf'
import {calculateUserHash} from '@/http-conf'
import SubItem from '@/components/SubItem'
export default {
	name: 'user-card',
	components: {
		SubItem,
	},
	data () {
		return {
			rawSubs: [],
		}
	},
	methods: {
		emitOpenDialog: function () {
			this.$emit('openDialog', this.user.username)
		},
		emitRetired: function () {
			this.$emit('retired', this.user.username)
		},
		handleUsed: function (subID) {
			//do stuff, in this case GET the sub so a timestamp is created
			let when = setWhen(this.normalConfig)
			this.normalConfig.headers['Authorization'] = calculateUserHash('', when, this.user.hash)
			let resource = '/user/' + this.user.username + '/sub/' + subID
			HTTP.get(resource, this.normalConfig)
			.then(
				response => {
					console.log('simulate use response', response)
					//do nothing, this request is for side-effects at server side (a timestamp is created)
				},
				notOK => {
					if (notOK.response.status == 404) {
						this.$emit('notFound')	
					} else {
						this.$emit('errorCode', [notOK.response.data])
					}
				}
			)
		},
		retrieve: function () {
			let when = setWhen(this.normalConfig)
			this.normalConfig.headers['Authorization'] = calculateUserHash('', when, this.user.hash)
			let resource = '/user/' + this.user.username + '/subs'
			HTTP.get(resource, this.normalConfig)
			.then(
				response => {
					// console.log('get subs response', response)
					this.rawSubs = response.data
				},
				notOK => {
					if (notOK.response.status == 404) {
						this.$emit('notFound')	
					} else {
						this.$emit('errorCode', [notOK.response.data])
					}
				}
			)
		},
	},
	computed: {
		subs: function () {
			let subs = this.rawSubs
			if (this.user.newSub) {
				let planName = this.user.newSub
				this.user.newSub = ''
				let resource = '/user/' + this.user.username + '/sub'
				let when = setWhen(this.normalConfig)
				this.normalConfig.headers['Authorization'] = calculateHash({'planName': planName}, when)
				HTTP.post(resource, {'planName': planName}, this.normalConfig)
				.then(
					response => {
						console.log('post sub response', response)
						subs.push(response.data)
					},
					notOK => {
						if (notOK.response.status == 404) {
							this.$emit('notFound')	
						} else {
							this.$emit('errorCode', [notOK.response.data])
						}
					}
				)
			}
			return subs
		},
		normalConfig: function () {
			const headers = {}
			return {
				headers
			}
		},
	},
	mounted () {
		// console.log(this.user)
		this.retrieve()
	},
	props: {
		user: {
			username: {
				type: String,
			},
			hash: {
				type: String,
			},
			email: {
				type: String,
			},
			created :{
				type: Number,
			},
			retired: {
				type: Boolean,
			},
			newSub: {
				type: String,
			},
		},
	},
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
	font-weight: normal;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

a {
	color: #42b983;
}

.mu-card-actions {
	/*text-align: right;*/
	position: absolute;
	bottom: 0;
	right: 0;

}
</style>

<style>
.mu-card {
	/*text-align: left;*/
}
</style>